.edit-preset-page {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.edit-preset-page h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin: 2rem 0 1rem 0;
    font-weight: 700;
    font-size: 1rem;
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 3rem;
}

